.area-cliente {
    background-color: #defdf0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    top: 30%;
  }
  
  .area-cliente .fundo {
    position: absolute;
    width: 100%;
    height: 200%;
    top: 30%;
    left: 0;
    background: linear-gradient(180deg, rgb(70.22, 135.73, 183.17) 0%, rgb(222, 254, 241) 100%);
  }
  /* .area-cliente .cabecalho {
    position: absolute;
    width: 1330px;
    height: 733px;
    left: 5px;
  } */
  
  .area-cliente .texto-cliente {
    position: absolute;
    top: 30%;
    left: 5%;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: black;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .area-cliente .robot-cliente {
    position: absolute;
    width: 492px;
    height: 594px;
    top: 10%;
    left: 50%;
    object-fit: cover;
  }
  
  .area-cliente .titulo-1-cliente {
    position: absolute;
    top: 20%;
    left: 51px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
  }
  
